<!DOCTYPE html>
<html>
    <%= erb :_head %>
    <body>
        <div class="buttons">
            <a href="/">Back</a>
            &bull;
            <a href="/<%= @leaf.uri %>/edit">Edit</a>
        </div>
        <div>
            <% @leaf.body.each do |line| %>
                <p><%= line %></p>
            <% end %>
        </div>
    </body>
</html