:root, pre {
    font-family: serif;
    font-size: 16px;
}

.hidden * {
    display: none;
}

.hidden > p {
    display: inline !important;
}

p {
    display: inline;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li ul {
    padding-left: 20px;
}

li {
    margin: 4px 0;
}

a, .toggle {
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

a:hover, .toggle:hover {
    text-decoration: underline;
}

li::before {
    content: "├─ ";
    color: #999;
}

li:last-child::before {
    content: "└─ ";
}

b.symbol {
    display: inline-block;
    width: 24px;
}